<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :recipient, "Recipient alias" %> 
    <%= form.select :recipient, [
      "Spouse", 
      "Daughter #1",
      "Daughter #2",
      "Daughter #3",
      "Son #1",
      "Son #2",
      "Son #3",
      "Granddaughter",
      "Grandson",
      "Mother",
      "Father",
      "Brother #1",
      "Brother #2",
      "Brother #3",
      "Sister #1",
      "Sister #2",
      "Sister #3",
      "Friend #1",
      "Friend #2",
      "Friend #3",
      "Aunt",
      "Uncle",
      "Niece",
      "Nephew",
      "Cousin",
    ], id: :message_recipient %>
  </div>
  
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :message_text %>
  </div>


  <div class="field">
    <%= form.hidden_field :report_id, id: :message_report_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :message_category, id: :message_message_category %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: "button" %>
  </div>
<% end %>
