<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :message_text %>
  </div>

  <div class="field">
    <%= form.label :recipient %>
    <%= form.text_field :recipient, id: :message_recipient %>
  </div>

  <div class="field">
    <%= form.label :report_id %>
    <%= form.text_field :report_id, id: :message_report_id %>
  </div>

  <div class="field">
    <%= form.label :message_category %>
    <%= form.number_field :message_category, id: :message_message_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
