<p id="notice"><%= notice %></p>



<div class="grid-x grid-padding-x">
  <div class="cell">
  



    <h1>Messages</h1>


    <%= paginate @reports %>
    
    
    <table>
      <thead>
        <tr>
          <th>For (Initials)</th>
          <th>Created</th>
          <% Message.prototypes.each do |m| %>
            <th><%= m[:description]%></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td>
              <%= link_to "Patient #{ report.initials }", report %>
            </td>
            <td><%= time_ago_in_words report.created_at %> ago <%= "by #{report.creator.display_name}" if report.creator %></td>

            <%
              
              messages_by_category = report.messages.group_by {|m| m.message_category}
              
            %>
            <% Message.prototypes.each do |m| %>
              <td>
                a
                <% messages_by_category[m[:category]] || [].each do |message| %>
                  <div><%= link_to "Msg created for son 3/2 (Opened)", message %></div>
                  <div><%= link_to "Create New", new_message_path %></div>
                <% end %>
              </td>
              
            <% end %>
            <td>
<% if false %>
            <td>
              <% (report.keys || []).each_with_index do |key, index| %>
              <span class="contain-link">
                <input id="link-for-<%= report.to_param %>-<%= index %>" 
                  value="http://<%= request.env["HTTP_HOST"] %><%= show_by_key_reports_path( key) %>"
                  style="width: 200px; display: inline; font-size: 8px; 
                    border: none; background-color: transparent; padding: 0px; margin: 0px; " />
                <a href="#" onclick="copyLinkFor('<%= report.to_param %>-<%= index %>')">Copy #<%= index + 1 %></a> 
                <span class="checkmark"><i class="fa fa-check" aria-hidden="true"></i></span>
              </span>
              <% end %>
            </td>
            <td>
              <% if report.accessed_at %>
                <%= report.accessed_at.size %> views across <%= report.accessed_at.uniq {|e| e.to_date}.size %> different dates. Last <%= time_ago_in_words report.accessed_at.last %> ago.
              <% end %>
            </td>
            <td>
              <%= link_to 'Preview', report_path(report), class: "button small" %>
            </td>              
            <td>
              <%= link_to 'Edit', edit_report_path(report), class: "button small" %>
            </td>
<% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= paginate @reports %>
    
    <br />

    <%= link_to 'New Report', new_report_path, class: "button" %>
    
  </div><!-- /cell -->
</div><!-- /grid -->


<%= link_to 'New Message', new_message_path %>
