<p id="notice"><%= notice %></p>

<p>
  This message was created on <%= @message.created_at %> 
  (<%= time_ago_in_words(@message.created_at) if @message.created_at %> ago) regarding 
  <b><%= @message.report.initials || "Unnamed person" %></b> for <b><%= @message.recipient %></b>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @message.recipient %>
</p>

<p>
  <strong>Report:</strong>
  <%= link_to "Link", @message.report %>
</p>

<p>
  <strong>Access History:</strong>
  <% if @message.accessed_at %>
    <% (@message.accessed_at).each do |d| %>
      <div>Viewed on <%= d %></div>
    <% end %>
  <% else %>
    None
  <% end %>
</p>


<p>
  <strong>Message</strong>
</p>

<div class="contain-link">
  <label>
    Copy this text and send to user
    <textarea rows="6" id="link-for-<%= @message.report.to_param %>-1"><%= (@message.text || "").gsub("[URL]", "http://#{ request.env["HTTP_HOST"] }#{ show_by_key_messages_path(key: @message.key) }") %></textarea>
  </label>
  <a href="#" class="button" onclick="copyLinkFor('<%= @message.report.to_param %>-1')">
    <span class="checkmark"><i class="fa fa-check" aria-hidden="true"></i></span>
    Copy 
  </a> 
  
</div>


<script type="text/javascript">
  const copyLinkFor = (id) => {                  
    let copyText = $(`#link-for-${ id }`);
    $("*.copied").removeClass("copied")
    copyText.closest("*.contain-link").addClass("copied")
    copyText.select();
    document.execCommand("Copy");
  }
  
</script>

<style type="text/css" media="screen">
  .checkmark {display: none;}
  *.copied .checkmark {display: inline;}
</style>
<br />
<br />
<%= link_to 'Edit', edit_message_path(@message) , class: "button" %> 
<%= link_to 'Back', messages_path , class: "button" %>
