<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation" class="panel">
      <p><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</p>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Name (The patient sees this; optional)" %>
    <%= form.text_field :name, id: :part_name, placeholder: "Avoid names with all caps" %>
  </div>

  <div class="field">
    <%= form.label :annotation, "Annotation (The patient does NOT see this)" %>
    <%= form.text_field :annotation, id: :part_annotation, placeholder: "e.g. with short video clip" %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.select :section, Part.section_names, id: :part_section %>
  </div>

  <div class="field">
    <%= form.label :description_text %>
    <%= form.text_area :description_text, id: :part_description_text, rows: 6, placeholder: "Avoid names with all caps" %>
  </div>

  <div class="field">
    <%= form.label :goals_text %>
    <%= form.text_area :goals_text, id: :part_goals_text, rows: 5, placeholder: "e.g. make a plan with my primary doctor" %>
  </div>

  <div class="field">
    <%= form.label :embedded_html, "Embedded HTML (For images or videos, try to make width ~380)" %>
    <%= form.text_area :embedded_html, id: :part_embedded_html, rows: 5 %>
  </div>

  <div class="field">
    <label>
      <%= form.check_box :is_checked_by_default, id: :part_eis_checked_by_default %>
      Is checked by default
    </label>
  </div>
  
  <div class="actions">
    <%= form.submit "Save", class: "button" %>
  </div>
<% end %>
