<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :part_name %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.select :section, Part.section_names, id: :part_section %>
  </div>

  <div class="field">
    <%= form.label :description_text %>
    <%= form.text_area :description_text, id: :part_description_text, rows: 6 %>
  </div>

  <div class="field">
    <%= form.label :goals_text %>
    <%= form.text_area :goals_text, id: :part_goals_text, rows: 6 %>
  </div>

  <div class="field">
    <%= form.label :embedded_html %>
    <%= form.text_area :embedded_html, id: :part_embedded_html, rows: 6 %>
  </div>

  <div class="field">
    <label>
      <%= form.check_box :is_checked_by_default, id: :part_eis_checked_by_default %>
      Is checked by default
    </label>
  </div>
  
  <div class="actions">
    <%= form.submit "Save", class: "button" %>
  </div>
<% end %>
