<%= render "layouts/admin_nav" %>

<p id="notice"><%= notice %></p>

<div class="grid-x grid-padding-x">
  <div class="cell">

    <h1>Templated Report Sections</h1>
    <p>Each report is made of these components.</p>
    
    <%= link_to 'New Part', new_part_path, class: "button" %>
    
    <table>
      <tbody>
        <% @parts.group_by {|e| e.section}.sort_by {|sec, ee| Part.section_names.index(sec) || 1e6}.each do |section, parts_in_section| %>
          <tr>
            <td colspan="3" style="background-color: white; ">
              <div class="text-center" style="margin-top: 40px; font-size: 1.4em; "><%= section %></div>
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Text</th>
            <th>Embedded Content?</th>
          </tr>
      
          <% parts_in_section.each do |part| %>
            <tr>
              <td><% if part.is_checked_by_default %>
                <i class="fa fa-check" aria-hidden="true"></i> 
                <% end %>
                <%= link_to part.name, edit_part_path(part) %>
              </td>
              <td>
                <div style="margin-bottom: 10px;"><%= part.description_text %></div>
                <div><i><%= part.goals_text %></i></div>
              </td>
              <td>
                <% if part.embedded_html.present? %>
                  <i class="fa fa-file-video-o" aria-hidden="true"></i> 
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <br />

    <%= link_to 'New Part', new_part_path, class: "button" %>
  </div>
</div>