<%= render "layouts/admin_nav" %>

<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<table>

  <tbody>
    <% @parts.group_by {|e| e.section}.each do |section, parts_in_section| %>
      <tr>
        <td colspan="5"><h5><%= section %></h5></td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Text</th>
        <th colspan="3"></th>
      </tr>
      
      <% parts_in_section.each do |part| %>
        <tr>
          <td><%= part.name %></td>
          <td>
            <div><b>Description:</b></div>
            <%= part.description_text %>
            <div><b>Goals:</b></div>
            <%= part.goals_text %>
          </td>
          <td><%= link_to 'Show', part %></td>
          <td><%= link_to 'Edit', edit_part_path(part) %></td>
          <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path %>
