<%= render "layouts/admin_nav" %>

<p id="notice"><%= notice %></p>


<div class="grid-x grid-padding-x" >

  <div class="medium-9 cell">

    
    <div class="dark-section" style="padding: 10px; ">
      <div class="text-right">
        <%= link_to "Edit this part", edit_part_url(@part), class: "button" %>
      </div>
      
      <h4 class="text-center" data-magellan-destination="risk_factors"><%= @part.section %></h4>
      <%= render @part %>
    </div>
  </div><!-- /medium.cell -->
  
  <div class="medium-3 cell">
    <%= render "parts_sidebar" %>
  </div><!-- /medium.cell -->
</div>





<style type="text/css" media="screen">
 
</style>