<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @part.section %>
</p>

<p>
  <strong>Description Text:</strong>
  <%= @part.description_text %>
</p>

<p>
  <strong>Goals Text:</strong>
  <%= @part.goals_text %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
