<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :initials, "Recipient initials" %>
    <%= form.text_field :initials %>
  </div>

  <% Part.all.sort_by {|e| Part.section_names.index(e.section) || 1e6}.group_by {|e| e.section}.each do |section, parts_for_section| %>
    <h5><%= section %></h5>
    <div>
      <% parts_for_section.sort_by {|part| part.reports.size}.reverse.each do |part| %>
            <label style="display: inline; margin-right: 10px; white-space: nowrap; ">
              <%# check_box_tag(name, value = "1", checked = false, options = {}) public %>
              <%= check_box_tag "report[part_ids][]", part.to_param, report.parts.include?(part) %>
              <%= part.name.present? ? part.name : "Untitled" %>
              <span class="label secondary"><%= part.annotation %> <%= part.reports.size %></span>

            </label>
      <% end %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= form.submit "Save", class: "button" %>
  </div>
<% end %>
