

<p id="notice"><%= notice %></p>

<div class="grid-x grid-padding-x">
  <div class="cell">
  
    <h1>Reports</h1>

    <table>
      <thead>
        <tr>
          <th>For (Initials)</th>
          <th>Created</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td>
              <%= link_to "Patient #{ report.initials }", report %>
              (<%= link_to 'Edit', edit_report_path(report) %>)
            </td>
            <td><%= time_ago_in_words report.created_at %> ago</td>
            <td><%= url_for( report ) %></td>
            <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br />

    <%= link_to 'New Report', new_report_path %>
    
  </div>
</div>

