
<% if notice %>
<div class="panel"><%= notice %></div>
<% end %>

<div class="grid-x grid-padding-x">
  <div class="cell">
  
    <h1>Reports</h1>

    <%= paginate @reports %>
    
    <table>
      <thead>
        <tr>
          <th>For (Initials)</th>
          <th>Created</th>
          <th>Using this link,
            patient can access w/o login <br />
            And stats will be kept
          </th>
          <th>Access History</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td>
              <%= link_to "Patient #{ report.initials }", report %>
            </td>
            <td><%= time_ago_in_words report.created_at %> ago <%= "by #{report.creator.display_name}" if report.creator %></td>
            <td>
              <% (report.keys || []).each_with_index do |key, index| %>
              <span class="contain-link">
                <input id="link-for-<%= report.to_param %>-<%= index %>" 
                  value="http://<%= request.env["HTTP_HOST"] %>/r/<%= key %>"
                  style="width: 200px; display: inline; font-size: 8px; 
                    border: none; background-color: transparent; padding: 0px; margin: 0px; " />
                <a href="#" onclick="copyLinkFor('<%= report.to_param %>-<%= index %>')">Copy #<%= index + 1 %></a> 
                <span class="checkmark"><i class="fa fa-check" aria-hidden="true"></i></span>
              </span>
              <% end %>
            </td>
            <td>
              <% if report.accessed_at %>
                <%= report.accessed_at.size %> views across <%= report.accessed_at.uniq {|e| e.to_date}.size %> different dates. Last <%= time_ago_in_words report.accessed_at.last %> ago.
              <% end %>
            </td>
            <td>
              <%= link_to 'Preview', report_path(report), class: "button small" %>
            </td>              
            <td>
              <%= link_to 'Edit', edit_report_path(report), class: "button small" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= paginate @reports %>
    
    <br />

    <%= link_to 'New Report', new_report_path, class: "button" %>
    
  </div>
</div>

<script type="text/javascript">
  const copyLinkFor = (id) => {                  
    let copyText = $(`#link-for-${ id }`);
    $("span.copied").removeClass("copied")
    copyText.closest("span.contain-link").addClass("copied")
    copyText.select();
    document.execCommand("Copy");
  }
  
</script>

<style type="text/css" media="screen">
  .checkmark {display: none;}
  span.copied .checkmark {display: inline;}
</style>