<!-- https://foundation.zurb.com/sites/docs/v/5.5.3/components/magellan.html -->
<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dt>My Stroke Information</dt>
    <% Part.section_names.each do |n| %>
    <dd data-magellan-arrival="<%= n.gsub(/\ /, "_") %>">
      <a href="#<%= n.gsub(/\ /, "_") %>"><%= n.capitalize %></a>
    </dd>
    <% end %>
  </dl>
</div>


<style type="text/css" media="screen">
  body {
    background-color: #333;
  }
</style>

<script type="text/javascript">
  $(document).foundation({
  "magellan-expedition": {
    active_class: 'active', // specify the class used for active sections
    threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
    destination_threshold: 40, // pixels from the top of destination for it to be considered active
    throttle_delay: 50, // calculation throttling to increase framerate
    fixed_top: 0, // top distance in pixels assigend to the fixed element on scroll
    offset_by_height: true // whether to offset the destination by the expedition height. Usually you want this to be true, unless your expedition is on the side.
  }
  });
</script>


<p id="notice"><%= notice %></p>

    
<div id="intro" class="dark-section">
  <h3 class="text-center" data-magellan-destination="intro">My Stroke</h3>
  <p class="text-center"><i>This information tool was custom-made for <%= @report.initials.present? ? @report.initials : "me" %> on <%= @report.created_at.strftime("%B %-m, %Y") %></i></p>
  
  <%= render @report.parts.select {|e| e.section == "intro"} %>
</div>

<div id="risk_factors" class="light-section">
  <h3 class="text-center" data-magellan-destination="risk_factors">My Risk Factors</h3>
  
  <%= render @report.parts.select {|e| e.section == "risk factors"} %>
</div>

<div id="medications" class="dark-section">
  <h3 class="text-center" data-magellan-destination="medications">My Medications</h3>

  <p class="text-center">(Just the stroke ones)</p>
  <%= render @report.parts.select {|e| e.section == "medications"} %>
  <p class="text-center">Upon discharge, the nurse will review my complete medication list with me.</p>
  
</div>


<div id="testing" class="light-section">
  <h3 class="text-center" data-magellan-destination="testing">My Upcoming Testing</h3>
  <%= render @report.parts.select {|e| e.section == "testing"} %>
</div>

<div id="followup" class="dark-section">
  <h3 class="text-center" data-magellan-destination="followup">My Follow Up</h3>
  <%= render @report.parts.select {|e| e.section == "followup"} %>
</div>
