<p id="notice"><%= notice %></p>


<h3 class="text-center">My Stroke Information</h3>



<div class="dark-section">
  <h4 class="text-center">Introduction</h5>
  <%= render @report.parts.select {|e| e.section == "intro"} %>
</div>

<div class="light-section">
  <h4 class="text-center">My risk factors</h5>
  <%= render @report.parts.select {|e| e.section == "risk factors"} %>
</div>

<div class="dark-section">
  <h4 class="text-center">My Medications</h5>
  <%= render @report.parts.select {|e| e.section == "medications"} %>
</div>


<div class="light-section">
  <h4 class="text-center">My Upcoming Testing</h5>
  <%= render @report.parts.select {|e| e.section == "testing"} %>
</div>

<div class="dark-section">
  <h4 class="text-center">My Next Steps</h5>
  <%= render @report.parts.select {|e| e.section == "next steps"} %>
</div>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
