<!-- https://foundation.zurb.com/sites/docs/v/5.5.3/components/magellan.html -->
<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dt>My Stroke Information</dt>
    <% Part.section_names.each do |n| %>
    <dd data-magellan-arrival="<%= Part.section_names_to_anchors[n] || "x" %>">
      <a href="#<%= Part.section_names_to_anchors[n] || "x" %>"><%= n.capitalize %></a>
    </dd>
    <% end %>
  </dl>
</div>



<script type="text/javascript">
  $(document).foundation({
  "magellan-expedition": {
    active_class: 'active', // specify the class used for active sections
    threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
    destination_threshold: 40, // pixels from the top of destination for it to be considered active
    throttle_delay: 50, // calculation throttling to increase framerate
    fixed_top: 0, // top distance in pixels assigend to the fixed element on scroll
    offset_by_height: true // whether to offset the destination by the expedition height. Usually you want this to be true, unless your expedition is on the side.
  }
  });
</script>

<div class="report">    
  <div class="dark-section">
    <h3 id="<%= Part.section_names_to_anchors["intro"] || "x" %>" 
      class="text-center" data-magellan-destination="<%= Part.section_names_to_anchors["intro"] || "x" %>">My Stroke</h3>
    <p class="text-center"><i>This information tool was custom-made for <%= @report.initials.present? ? @report.initials : "me" %> on <%= @report.created_at.strftime("%B %-m, %Y") %></i></p>
  
    <%= render "parts/parts", parts: @report.parts.select {|e| e.section == "intro"} %>
  </div>

  <div class="light-section">
    <h3 id="<%= Part.section_names_to_anchors["risk factors"] || "x" %>" 
      class="text-center" data-magellan-destination="<%= Part.section_names_to_anchors["risk factors"] || "x" %>">My Risk Factors</h3>
  
    <%= render "parts/parts", parts: @report.parts.select {|e| e.section == "risk factors"} %>
  </div>

  <div  class="dark-section">
    <h3 id="<%= Part.section_names_to_anchors["medications"] || "x" %>" 
      class="text-center" data-magellan-destination="<%= Part.section_names_to_anchors["medications"] || "x" %>">My Stroke-Prevention Medications</h3>
    <br />
    <div class="callout primary text-center"><i class="fa fa-flask" aria-hidden="true"></i>  Just the stroke ones are listed here. Upon discharge, the nurse will review my complete medication list with me.</div>
    <%= render "parts/parts", parts: @report.parts.select {|e| e.section == "medications"} %>
  </div>

  <div class="light-section">
    <h3 id="<%= Part.section_names_to_anchors["testing"] || "x" %>" 
      class="text-center" data-magellan-destination="<%= Part.section_names_to_anchors["testing"] || "x" %>">My Upcoming Testing</h3>
    <%= render "parts/parts", parts: @report.parts.select {|e| e.section == "testing"} %>
  </div>

  <div class="dark-section">
    <h3 id="<%= Part.section_names_to_anchors["followup"] || "x" %>" 
      class="text-center" data-magellan-destination="<%= Part.section_names_to_anchors["followup"] || "x" %>">My Follow Up</h3>
    <%= render "parts/parts", parts: @report.parts.select {|e| e.section == "followup"} %>
  </div>

  <div class="dark-section" style=" padding-top: 50px; padding-bottom: 50px; "><!-- buffer at the bottom of page --></div>
</div>